/* Server scroller left bar */

.server-list-l {
    position: fixed;
    left: 0%;
    top: 0%;
    width: 72px;
    height: 100%;
    background-color: var(--c1);
}

.wrapper-sl-i {
    position: absolute;
    transform: translate(-50%, 0%);
    top: 15px;
    left: 50%;
    cursor: pointer;
    border: 1px solid var(--c4);
    border-radius: 100%;
    width: 75%;
    text-align: center;
}

.section-sl-ser {
    position: absolute;
    left: 0%;
    top: calc(15px + 50px);
    height: calc(100% - calc(15px + 50px));
    width: 100%;
    padding-top: 10px;
    box-sizing: border-box;
}

.border-wrap-ct-sl {
    transform: translate(-50%, 0%);
    position: absolute;
    left: 50%;
    height: 2px;
    background-color: var(--c4);
    width: 55%;
    margin-bottom: 15px;
}

.wrapper-sl-i>img {
    width: 80%;
}

.wrapper-js-sl {
    position: absolute;
    transform: translate(-50%, 0%);
    bottom: 15px;
    left: 50%;
    height: 45px;
    width: 65%;
    background-color: var(--c4);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--c5);
    font-size: 25px;
    border-radius: 100%;
    cursor: pointer;
    font-family: var(--poppins);
}

.lsl-serv-icon {
    justify-self: center;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 15px;
    background-color: var(--c4);
    color: white;
    font-weight: 800;
    margin-left: auto;
    margin-right: auto;
    width: 55px;
    height: 55px;
    border-radius: 100%;
    cursor: pointer;
    font-family: var(--dm);
}

.tooltip-sli-vp-h {
    position: fixed;
    top: calc(15px + calc(20px / 2));
    left: 75px;
    z-index: 3;
    background-color: var(--c5);
    padding: 5px;
    font-family: var(--dm);
    border-radius: 5px / 5px;
    cursor: default;
    user-select: none;
    transition: transform .15s;
    transform-origin: left center;
    transform: scale(0);
    overflow: visible;
    display: inline-block;
}

.tooltip-sli-vp-h::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -10px;
    border-width: 10px 10px 10px 0;
    border-color: transparent var(--c5) transparent transparent;
    border-style: solid;
    transform: translateY(-50%);
}

.tooltip-sli-sv-h {
    position: fixed;
    top: calc(15px + calc(20px / 2));
    left: 75px;
    z-index: 3;
    background-color: var(--c5);
    padding: 5px;
    font-family: var(--dm);
    border-radius: 5px / 5px;
    cursor: default;
    user-select: none;
    transition: transform .15s;
    transform-origin: left center;
    transform: scale(0);
    overflow: visible;
    display: inline-block;
}

.tooltip-sli-sv-h::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -10px;
    border-width: 10px 10px 10px 0;
    border-color: transparent var(--c5) transparent transparent;
    border-style: solid;
    transform: translateY(-50%);
}

.tooltip-sli-csp-h {
    position: fixed;
    bottom: 23px;
    left: 75px;
    z-index: 3;
    background-color: var(--c5);
    padding: 5px;
    font-family: var(--dm);
    border-radius: 5px / 5px;
    cursor: default;
    user-select: none;
    transition: transform .15s;
    transform-origin: left center;
    transform: scale(0);
    overflow: visible;
    display: inline-block;
}

.tooltip-sli-csp-h:before {
    content: '';
    position: absolute;
    top: 50%;
    left: -10px;
    border-width: 10px 10px 10px 0;
    border-color: transparent var(--c5) transparent transparent;
    border-style: solid;
    transform: translateY(-50%);
}

.wsli-noti-icon {
    background-color: red;
    border-radius: 100%;
    height: 30px;
    width: 30px;
    position: absolute;
    color: white;
    top: -10px;
    right: -8px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-family: var(--dm);
}