.server-list-l {
    position: fixed;
    left: 0%;
    top: 0%;
    width: 72px;
    height: 100%;
    background-color: var(--c1);
}

.wrapper-sl-i {
    position: absolute;
    transform: translate(-50%, 0%);
    top: 15px;
    left: 50%;
    cursor: pointer;
    border: 1px solid var(--c4);
    border-radius: 100%;
    width: 75%;
    text-align: center;
}

.section-sl-ser {
    position: absolute;
    left: 0%;
    top: calc(15px + 50px);
    height: calc(100% - calc(15px + 50px));
    width: 100%;
    padding-top: 10px;
    box-sizing: border-box;
}

.border-wrap-ct-sl {
    transform: translate(-50%, 0%);
    position: absolute;
    left: 50%;
    height: 2px;
    background-color: var(--c4);
    width: 55%;
    margin-bottom: 15px;
}

.wrapper-sl-i > img {
    width: 80%;
}

.wrapper-js-sl {
    position: absolute;
    transform: translate(-50%, 0%);
    bottom: 15px;
    left: 50%;
    height: 45px;
    width: 65%;
    background-color: var(--c4);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--c5);
    font-size: 25px;
    border-radius: 100%;
    cursor: pointer;
    font-family: var(--poppins);
}