.fr-chan-list-l {
    position: fixed;
    left: 72px;
    width: 250px;
    height: 100%;
    top: 0;
    background-color: var(--c6);
}

.fr-chan-list-l>.friend-to-ms-fl {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    font-family: var(--dm);
    color: var(--c3);
    display: flex;
    align-items: center;
    padding-left: 15px;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 16px;
}

.fr-chan-list-l>.friend-to-ms-fl:hover {
    background-color: var(--c4);
}

.fr-chan-list-l>.btn.selected {
    background-color: var(--c4) !important;
}

.frcl-b-container {
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    height: calc(100% - 50px);
    overflow-y: scroll;
    box-sizing: border-box;
    padding-left: 5px;
}

.frcl-b-container::-webkit-scrollbar {
    display: none;
}

.frcl-b-container>.frlc-b-t {
    color: white;
    font-weight: normal;
    font-family: var(--dm);
    cursor: default;
    user-select: none;
    font-size: 14px;
    text-transform: uppercase;
}

.frcl-b-container>.frcl-btn {
    width: calc(100% - 5px);
    height: 45px;
    cursor: pointer;
    border-radius: 5px / 5px;
    padding-left: 10px;
    box-sizing: border-box;
    font-family: var(--dm);
    color: lightgray;
    line-height: 15px;
    padding-top: 5.5px;
    display: flex;
    align-items: center;
}

.frcl-b-container>.frcl-btn:hover {
    background-color: var(--c4);
}

.frcl-b-container>.frlc-b-t {
    margin-left: 10px;
}

.frcl-b-container>.frcl-btn>.frcl-bt-un {
    vertical-align: middle;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -15px;
    font-size: 15.5px;
}

.frcl-b-container>.frcl-btn>.frcl-bt-statust {
    font-family: lighter !important;
    vertical-align: middle;
    font-family: var(--dm) !important;
    text-align: center;
    margin-top: 15px;
    margin-left: -55px;
    font-size: 13px;
}