.main-container {
    position: fixed;
    top: 0%;
    left: calc(72px + 250px);
    width: calc(100% - 72px - 250px);
    height: 100%;
    background-color: var(--c4);
}

.main-container > .scbar-fri-m-o {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid var(--c3);
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    box-sizing: border-box;
}

.main-container > .scbar-fri-m-o > .scb-frmo-btn {
    margin-right: 50px;
    height: 65%;
    cursor: pointer;
    font-family: var(--dm);
    width: 100px;
    border-radius: 3.5px / 3.5px;
}

.main-container > .scbar-fri-m-o > .scb-frmo-btn.online, .scb-frmo-btn.all, .scb-frmo-btn.blocked {
    background-color: transparent;
    border: 1px solid transparent;
    color: var(--c2);
}

.main-container > .scbar-fri-m-o > .scb-frmo-btn.pending {
    background-color: transparent;
    border: 1px solid transparent;
    color: var(--c2);
}

.main-container > .scbar-fri-m-o > .scb-frmo-btn.add {
    background-color: var(--c5);
    border: 1px solid var(--c5);
}

.main-container > .scbar-fri-m-o > .scb-frmo-btn.add.selected {
    background-color: transparent !important;
    border: 1px solid transparent !important;
    color: var(--c1);
}

.main-container > .scbar-fri-m-o > .scb-frmo-btn.selected {
    background-color: var(--c6);
    color: var(--c1);
}

.main-container > .scbar-fri-sect {
    position: absolute;
    top: 50px;
    left: 0;
    height: calc(100% - 50px);
    width: 100%;
}

.main-container > .scbar-fri-sect.add > div {
    position: absolute;
    left: calc(20px + 250px + 40px);
    top: 20%;
    transform: translate(-50%, -50%);
    font-family: var(--dm);
}

.main-container > .scbar-fri-sect > div > h1 {
    color: var(--c1);
    margin-bottom: -5px;
}

.main-container > .scbar-fri-sect > div > p {
    color: var(--c2);
}

.main-container > .scbar-fri-sect > div > input {
    width: 100%;
    height: 40px;
    padding-left: 10px;
    box-sizing: border-box;
    outline: 0;
    background-color: var(--c6);
    border: 1px solid var(--c6);
    border-radius: 5px / 5px;
    color: var(--c5);
    font-family: var(--dm);
}

.main-container > .scbar-fri-sect > div > button.send-fr {
    float: right;
    margin-top: 10px;
    height: 35px;
    background-color: var(--c1);
    border: 1px solid var(--c1);
    cursor: pointer;
    color: var(--c2);
    width: 100px;
    font-family: var(--dm);
    border-radius: 2.5px / 2.5px;
    transition: .25s;
}

.main-container > .scbar-fri-sect {
    display: none;
    padding-left: 40px;
    box-sizing: border-box;
    padding-top: 20px;
}

.main-container > .scbar-fri-sect > .scfs-title {
    color: var(--c5);
    font-family: var(--dm);
    font-weight: 600;
    font-size: 14.5px;
}

.main-container > .scbar-fri-sect.selected {
    display: block;
}

.main-container > .scbar-fri-sect > .scb-frmo-frbtn {
    width: 75%;
    border-top: 1px solid var(--c1) !important;
    padding-top: 8px;
    padding-left: 5px;
    padding-bottom: 8px;
    box-sizing: border-box;
    font-family: var(--dm);
    cursor: pointer;
    transition: .1s;
    overflow: hidden;
    border-radius: 0;
    border: none;
    height: 57px;
}

.main-container > .scbar-fri-sect > .scb-frmo-frbtn:hover {
    background-color: var(--c1);
    border: 1px solid var(--c1);
    border-radius: 3.5px / 3.5px;
}

.main-container > .scbar-fri-sect > .scb-frmo-frbtn > .title {
    font-weight: 800;
    font-size: 18.5px;
    color: var(--c5);
    vertical-align: middle;
}

.main-container > .scbar-fri-sect > .scb-frmo-frbtn > .desc {
    font-weight: lighter;
    margin-left: 10px;
    vertical-align: middle;
    color: lightgray;
    font-size: 13px;
    line-height: 40px;
}

.main-container > .scbar-fri-sect > .scb-frmo-frbtn > button.cancel-fr, button.accept-fr {
    float: right;
    background-color: var(--c6);
    color: white;
    font-weight: normal;
    margin-right: 8px;
    cursor: pointer;
    border-radius: 100%;
    border: 1px solid var(--c6);
    height: 40px;
    width: 40px;
    transition: .1s;
    text-align: center;
}

.main-container > .scbar-fri-sect.pending > .scb-frmo-frbtn > button.cancel-fr:hover {
    color: red;
}

.main-container > .scbar-fri-sect.pending > .scb-frmo-frbtn > button.accept-fr:hover {
    fill: white !important;
}

.main-container > .scbar-fri-sect.pending > .scb-frmo-frbtn > button.accept-fr {
    fill: green !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-container > .scbar-fri-sect.add.selected > div > .error {
    color: red;
    margin-bottom: 5px;
    display: inline-block;
}

/* Chat Box */

.main-container > .tbar-ch {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid var(--c1);
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-left: 20px;
}

.main-container > .tbar-ch > .tbch-uname {
    color: var(--c2);
    font-weight: bold;
    font-family: var(--dm);
    cursor: default;
    user-select: none;
    vertical-align: middle;
    margin-left: 10px;
}

.main-container > .tbar-ch > .tbch-sep {
    margin-left: 5px;
    color: var(--c1);
    vertical-align: middle;
    font-size: 24px;
    user-select: none;
    cursor: default;
}

.main-container > .tbar-ch > .tbch-stext {
    font-family: var(--dm);
    color: var(--c5);
    vertical-align: middle;
    font-size: 15px;
    margin-left: 5px;
}

.main-container > .tbar-ch > .tbch-sact {
    vertical-align: middle;
    font-family: var(--dm);
    color: var(--c1);
    position: absolute;
    transform: translate(0%, -50%);
    right: 15px;
    top: 50%;
    font-weight: 600;
    background-color: var(--c5);
    border-radius: 20px / 20px;
    width: 80px;
    text-align: center;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
    user-select: none;
}

.main-container > .scroller.cm-mainbox {
    position: absolute;
    left: 0;
    width: 100%;
    height: calc(100% - 50px);
    top: 50px;
    padding-left: 20px;
    box-sizing: border-box;
    padding-top: 20px;
}

.main-container > .cm-mainbox >  #pfp-cmut {
    height: 80px;
    width: 80px;
}

.main-container > .cm-mainbox > .cmb-utitle {
    font-family: var(--dm);
    color: var(--c5);
    margin-bottom: 0;
}

.main-container > .cm-mainbox >  .cmb-startdesc {
    font-family: var(--dm);
    color: var(--c2);
    margin-top: 5px;
}

.main-container > .cm-mainbox > .cmfrb-dft {
    height: 35px;
    width: 120px;
    background-color: var(--c6);
    font-family: var(--dm);
    border: var(--c6);
    cursor: pointer;
    border-radius: 5px / 5px;
    margin-right: 10px;
    transition: .2s;
}

.main-container > .cm-mainbox > .cmfrb-dft:hover {
    background-color: var(--c1);
}

.main-container > .cm-mainbox > .cmfrb-dft.block-fr {
    color: red;
}

.main-container > .cm-mainbox > .cmfrb-dft.remove-fr {
    color: var(--c2);
}

.main-container > .cm-mainbox > .cm-divider {
    width: 90%;
    background-color: var(--c5);
    margin-top: 20px;
    height: 1px;
    margin-bottom: 20px;
}

.main-container > .cm-mainbox > .cm-editor {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    box-sizing: border-box;
}

.main-container > .cm-mainbox > .cm-editor > .cm-e-textbox {
    width: 90%;
    background-color: var(--c6);
    border-radius: 5px / 5px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    box-sizing: border-box;
    position: absolute;
    bottom: 10px;
}

.main-container > .cm-mainbox > .cm-editor > .cm-e-placeholder {
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    left: 25px;
    color: var(--c3);
    font-size: 15.5px;
    font-family: var(--dm);
    margin-top: 0;
    display: block;
    z-index: 1;
}

.main-container > .cm-mainbox > .cm-editor > .cm-e-textbox > .cm-e-edit {
    display: flex;
    align-self: center;
    outline: 0;
    font-size: 15.5px;
    font-family: var(--dm);
    color: var(--c2);
    z-index: 2;
    max-height: 70%;
    overflow-x: scroll;
    max-width: 100%;
    width: 100%;
}

.main-container > .cm-mainbox > .cm-editor > .cm-e-textbox > .cm-e-edit::-webkit-scrollbar {
    display: none;
}

.main-container > .cm-mainbox > .cm-msg-history {
    position: absolute;
    left: 0;
    width: 100%;
    overflow-y: scroll;
    top: 20%;
    height: 0;
}

.main-container > .cm-mainbox > .cm-uinfo {
    position: absolute;
    left: 0;
    width: 100%;
    height: 20%;
    padding-left: 20px;
    box-sizing: border-box;
}

.main-container > .cm-mainbox > .cm-mb-mse.sending {
    opacity: 0.5;
}

.main-container > .cm-mainbox > .cm-mb-mse.failed {
    color: red !important;
}