/* Modals */

.shade {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 2;
}

.modal {
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 3;
    transform: translate(-50%, -50%);
    border-radius: 5px / 5px;
    text-align: center;
    font-family: var(--dm);
}

.serv-create-modal {
    transition: .1s;
    width: 450px;
    background-color: white;
    height: 40%;
}

.serv-create-modal > .serv-mo-t {
    margin-bottom: 0;
    font-weight: 900;
    font-size: 26px;
    margin-top: 24px;
}

.serv-create-modal > .create-serv-btn {
    margin-top: 40px;
    margin-bottom: 15px;
}

.serv-create-modal > .serv-btn {
    height: 45px;
    border: .5px solid rgb(147, 147, 147);
    border-radius: 5px / 5px;
    cursor: pointer;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.serv-create-modal > .serv-btn:hover {
    background-color: rgb(211, 210, 210);
}

.serv-create-modal > .serv-btn > .serv-btn-arrow > img {
    height: 40px;
    vertical-align: middle;
}

.serv-create-modal > .serv-btn > .serv-btn-content {
    vertical-align: middle;
    margin-left: 15px;
}

.serv-create-modal > .serv-btn > .serv-btn-arrow {
    text-align: right;
    float: right;
}