/* Modals */

.shade {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.7;
    z-index: 2;
    display: none;
}

.modal {
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 3;
    transform: translate(-50%, -50%);
    border-radius: 5px / 5px;
    text-align: center;
    font-family: var(--dm);
}

.serv-create-modal {
    transition: .1s;
    width: 450px;
    background-color: white;
    height: 300px;
    overflow: hidden;
    display: none;
}

.serv-create-modal > .serv-mo-t {
    margin-bottom: 0;
    font-weight: 900;
    font-size: 26px;
    margin-top: 24px;
}

.serv-create-modal > .create-serv-btn {
    margin-top: 40px;
    margin-bottom: 15px;
}

.serv-create-modal > .serv-btn {
    height: 45px;
    border: .5px solid rgb(147, 147, 147);
    border-radius: 5px / 5px;
    cursor: pointer;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.serv-create-modal > .serv-btn:hover {
    background-color: rgb(211, 210, 210);
}

.serv-create-modal > .serv-btn > .serv-btn-arrow > img {
    height: 40px;
    vertical-align: middle;
}

.serv-create-modal > .serv-btn > .serv-btn-content {
    vertical-align: middle;
    margin-left: 15px;
}

.serv-create-modal > .serv-btn > .serv-btn-arrow {
    text-align: right;
    float: right;
}

.serv-create-modal > .serve-c-lab {
    margin-top: 20px;
    text-align: left;
    margin-left: 25px;
    color: var(--c4);
    font-weight: 800;
    text-transform: uppercase;
    font-family: var(--dm);
}

.serv-create-modal > #create-serv-nainp, .serv-create-modal > #join-serv-nainp {
    float: left;
    margin-left: 25px;
    width: calc(100% - 25px * 2);
    height: 35px;
    padding-left: 5px;
    box-sizing: border-box;
    outline: 0;
    border: 1px solid gray;
    border-radius: 5px / 5px;
    font-family: var(--dm);
    background-color: lightgray;
}

.serv-create-modal > .c-serv-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: rgb(228, 224, 224);
}

.serv-create-modal > .c-serv-footer > .create-serv-confirm {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translate(0%, -50%);
    height: 65%;
    width: 110px;
    background-color: var(--c1);
    border: 1px solid var(--c1);
    border-radius: 5px / 5px;
    cursor: pointer;
    color: var(--c4);
    font-weight: bold;
}

/* Error Modals */

.dft-err-mod {
    z-index: 3;
    left: 50%;
    top: 50%;
    width: 400px;
    height: 150px;
    background-color: white;
    overflow: hidden;
}

.dft-err-mod > .dft-err-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: rgb(228, 224, 224);
}

.dft-err-mod > .dft-err-footer > .err-mod-close {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 92%;
    height: 70%;
    cursor: pointer;
    border-radius: 5px / 5px;
    border: 1px solid var(--c5);
    background-color: var(--c5);
    font-weight: 800;
    color: black;
    font-size: 16px;
    font-family: var(--noto);
}

.dft-err-mod > .err-mod-title {
    color: var(--c1);
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 23px;
    font-weight: 800;
}

.dft-err-mod > .err-mod-body {
    color: var(--c4);
    margin-top: 0;
    font-size: 15px;
}

.csv-f-back {
    position: absolute;
    left: 15px;
    transform: translate(0%, -50%);
    top: 50%;
    color: black;
    cursor: pointer;
    margin-top: 0;
}

/* Main Loading Screen */

.versa-dftm-loads {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--c1);
    transition: .5s;
    cursor: default !important;
    opacity: 1;
    display: block;
}

.versa-dftm-loads > div {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-family: var(--dm);
    font-weight: bold;
    text-align: center;
}

.versa-dftm-loads > div > p {
    margin-top: 0;
    animation: 1.5s linear infinite bounce;
}

.versa-dftm-loads > div > img {
    animation: 1.5s linear infinite bounce;
}

.versa-dftm-loads > .versa-dftm-vr {
    position: absolute;
    right: 5px;
    bottom: 5px;
    font-family: var(--dm);
}