.top-section {
    background-color: var(--c1);
    height: 62%;
    width: 100%;
    position: fixed;
    left: 0;
    top: 50px;
    padding-left: calc(18% + 50px);
    box-sizing: border-box;
    padding-top: 3%;
}

.top-section > h1 {
    font-family: var(--poppins);
    margin-bottom: 15px;
    font-size: 36px;
}

#mt1 {
    color: var(--c4);
}

#mt2 {
    margin-top: -20px;
    color: var(--c5);
}

.bottom-section {
    top: 62%;
    width: 100%;
    left: 0%;
    position: fixed;
    background-color: var(--c2);
    height: calc(100% - 62%);
}

.topbar {
    text-align: left;
    height: 50px;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 18%;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 2;
    box-sizing: border-box;
    background-color: var(--c1);
}

.topbar > a {
    text-decoration: none;
    color: var(--c2);
    vertical-align: middle;
    margin-left: 50px;
    margin-top: 1px;
    font-family: var(--poppins);
    cursor: pointer;
}

#tb-logo {
    font-family: var(--yF) !important;
    font-size: 42px;
    font-weight: bold;
    vertical-align: middle;
    margin-top: 0 !important;
}

#tb-logo > img {
    height: 42px;
    width: 42px;
    vertical-align: middle;
}

#tp-acc {
    margin-left: 22%;
}

#tb-ll {
    height: 35px;
    background-color: var(--c4);
    width: 125px;
    border: 1px solid var(--c4);
    border-radius: 5px / 5px;
    font-size: 16px;
    font-family: var(--dm);
    text-transform: uppercase;
    color: var(--c2);
    cursor: pointer;
}

.t-de {
    margin-bottom: -10px;
    font-family: var(--dm);
    font-size: 16px;
}

#ts-buttons {
    margin-top: 40px;
}

#ts-buttons > a {
    text-decoration: none;
}

#ts-buttons > a > button {
    border-radius: 15px / 15px;
    width: 200px;
    height: 50px;
    margin-right: 30px;
    font-size: 18px;
    vertical-align: middle;
    cursor: pointer;
    border: none;
    font-family: var(--raleway);
}

#ts-b-download {
    background-color: var(--c5);
}

#ts-b-download > svg {
    height: 1em;
    margin-right: 2.5px;
    vertical-align: middle;
}

#ts-b-download > span {
    vertical-align: middle;
}