@import url("/fonts/fonts.css");

:root {
    --poppins: 'Poppins', serif;
    --raleway: 'Raleway', serif;
    --noto: 'Noto Sans', serif;
    --lato: 'Lato', serif;
    --block: 'Gajraj One', serif;
    --yF: 'Yanone Kaffeesatz', serif;
    --dm: 'DM Sans', serif;

    --c1: #cf6b13;
    --c2: #EDE6E3;
    --c3: #DADAD9;
    --c4: #36382E;
    --c5: #5BC3EB;
    --c6: #282a21;
}

button.disabled {
    cursor: not-allowed !important;
    opacity: 0.5;
}

.profile-picture {
    border-radius: 100%;
    width: 50px;
    height: 40px;
    user-select: none;
}